<div class="container">
  <div class="row">
    <div class="col-6">
      <h3>Error iniciando sesión | NO existe el usuario</h3>
      <h3>Redireccionando para registrarte......</h3>
    </div>
  </div>
</div>
<script>
  setTimeout(function() {
  window.location.replace("http://localhost:8080/signup") }, 3000);
</script>