<div class="jumbotron">
  <h1>Vista de Productos</h1>
  <br />

  <div class="table-responsive">
    <table id="myTable" class="table table-dark">
      <tr> <th>ID</th> <th>Nombre</th> <th>Precio</th><th>URL Imagen</th></tr>
    </table>
  </div>
</div>