@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,600;0,900;1,100&display=swap");

/*BODY*/
body {
  font-family: "Montserrat", sans-serif;
}
h2,
h2,
a,
a:hover,
a:active,
a::after {
  color: #000;
  text-decoration: none;
}

/*FOOTER*/

.containerBody {
  margin-top: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;
}

.jumbotron {
  background-color: aquamarine;
  color: #000000;
  text-align: center;
}
