
div(class="container")
  h1= "Listado de productos"
 
  table(class="table" id="myTable")
    tr
      th Id
      th Producto
      th Precio
      each val in data  
        tr
          td= val.id 
          td= val.title
          td= val.price
          td
            img(src= val.img alt='imagen' style='width:100px; height:100px;')
    

    