<html lang="es">
  <head>
    <meta charset="utf-8" />
    <title>Entregable Nº30 | Nestor Gomez</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="css/estilos.css" />
  </head>
  <body class="container">
    <header class="bg-primary p-3 text-white text-center">Clase Nº30 | Proxy -
      Nginx</header>
    <section>
      {{{body}}}
    </section>
    <header class="bg-primary p-3 text-white text-center">Desafio Entregable |
      Néstor Gómez</header>
  </body>
</html>