link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css')
script(src='/socket.io/socket.io.js' defer)   
script(src='/js/client.js')      
html 
  head 
    title= "Cargar Producto"
  body 


include layouts/cargarproducto
include layouts/productos

   
    